/* RESET */


/* COMMON */
body {
    font-family: Arial, sans-serif;
}
img {
    width: 100%;
    display: inline-block;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a {
    color: inherit;
    text-decoration: none;
}
section {
    padding: 4rem 0;
}
.ms_container {
    margin: 0 auto;
    max-width: 720px;
}
.ms_section-grid {
    padding: 1.5rem 0;
}


/* COMMON - MS Card */
.ms_card {
    background-color: transparent;
    border: none;
}
.ms_card .card-title {
    font-size: 2.5rem;
    margin: 2rem 0;
}
.ms_card .card-body {
    padding: 0;
}
.ms_card .card-body .card-text {
    margin-bottom: 1.5rem;
}
.ms_card .card-body .btn {
    border-radius: 1.5rem;
    font-weight: 600;
}


/* COMMON - PC Card */
.pc-card {
    padding: 0.8rem 0.3rem;
}
.pc-card img {
    border-radius: 1rem;
}
.pc-card .pc-card-title {
    font-size: 1rem;
    margin: 0.5rem 0 2rem;
    line-height: 1.5rem;
    font-weight: 600;
}


/* COMMON - Heading */
.ms_heading {
    margin-bottom: 4rem;
}
.ms_heading .ms_heading-super-title {
    font-size: 1rem;
    font-weight: 600;
    color: #1980d2;
    text-transform: uppercase;
    margin-bottom: 0;
}
.ms_heading .ms_heading-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    line-height: 2.8rem;
}
.ms_heading .ms_heading-text {
    font-size: 1.3rem;
    line-height: 1.5rem;
    color: #727272;
}


/* COMMON - Section Hero */
.ms_section_hero {
    padding: 3rem 0;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    color: white;
}
.ms_section_hero .ms_card .card-body .btn {
    background-color: #cd3d0f;
}
.ms_section_hero .ms_card .card-img-top {
    width: 60%;
}


/* HEADER */
header {
    font-family: Helvetica, arial, sans-serif;
    font-weight: 600;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
#header-top,
#header-bottom {
    padding: 0.4rem 0.6rem;
}


/* Header-Top */
#header-top {
    background: black;
    text-align: right;
}
#header-top img {
    width: 5rem;
}


/* Header-Bottom */
#header-bottom {
    background-color: white;
    display: flex;
    align-items: center;
}
#header-bottom .logo {
    margin-right: 1rem;
    flex-grow: 1;
}
#header-bottom .logo img {
    width: 3rem;
}


/* Header-Bottom - Burger Menu */
#header-bottom .burger-menu a {
    font-size: 1.5rem;
    padding: 0.3rem 1rem;
    border: 1px solid lightgrey;
    border-radius: 0.3rem;
}


/* Header-Bottom - Main Menu / Search Menu */
#header-bottom .main-menu,
#header-bottom .search-menu {
    display: none;
} 


/* MAIN */
main {
    padding-top: 6rem;
}


/* Jumbotron */
#ms_jumbotron {
    background-image: url(../img/jumbo-bg.png);
    height: 675px;
}


/* SECTION - Carousel */
#carousel {

}


/* SECTION - Slogan */
#slogan {
    
}


/* SECTION - Devices */
#devices .col .pc-card {
    opacity: 0.7;
}
#devices .col.current .pc-card {
    border-bottom: 2px solid #0072ce;
    opacity: 1;
}


/* SECTION - It takes two */
#it-takes-two {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}


/* SECTION - New Releases */
#new-releases {
    background-color: #1f1f1f;
    color: white;
}
#new-releases h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
#new-releases h3 {
    font-size: 1.5rem;
}


/* SECTION - Explore Playstation */
#explore-ps .ms_card {
    margin-bottom: 3rem;
}

#explore-ps .ms_card .ms_heading {
    margin-bottom: 0;
}


/* FOOTER */



/******************** 
    MEDIA QUERIES 
********************/ 


/******** Small - ≥576px ********/
@media screen and (min-width: 576px) {

}

    
/******** Medium - ≥768px ********/
@media screen and (min-width: 768px) {

/* SECTION - Explore Playstation */
#explore-ps .ms_card {
    margin-bottom: 1rem;
}

}

    
/******** Large - ≥992px ********/
@media screen and (min-width: 992px) {

/* Header-Bottom */
#header-bottom .logo {
    flex-grow: 0;
}
#header-bottom li {
    display: inline-block;
    margin-right: 1.5rem;
}        
#header-bottom li a img {
    width: 0.6rem;
    margin-left: 0.2rem;
}        


/* Header-Bottom - Burger Menu */
#header-bottom .burger-menu a {
    display: none;
}


/* Header-Bottom - Main Menu / Search Menu */
#header-bottom .main-menu,
#header-bottom .search-menu {
    display: inline-block;
}    


/* Header-Bottom - Main Menu */
#header-bottom .main-menu {
    flex-grow: 1;
}


/* Header-Bottom - Search Menu */
#header-bottom .search-menu li {
   margin-right: 1rem; 
}    

#header-bottom .search-menu li:last-child {
    margin-right: 0.5rem;
}    

#header-bottom .search-menu li:last-child a img {
    width: 1.5rem;
}    



}


/******** X-Large - ≥1400px ********/
/* @media screen and (min-width: 1200px) {
    
} */
